<%- include("./../partials/header.ejs") %>
        
        <form method="post" action="/delete">
            <label>Id</label>
            <input type="number" name="id" value="<%= one.id %>" readonly>
            <label>Name</label>
            <input type="text" name="name" value="<%= one.name %>" readonly>
            <label>Balance</label>
            <input type="number" name="balance" value="<%= one.balance %>" readonly>
            <input type="submit" value="Delete">
        </form>
<%- include("./../partials/footer.ejs") %>